.image {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid rgba(129, 162, 178, 0.25);
}

.tile-container {
  --grid-layout-gap: 32px;
  --grid-column-count: 4;
  --grid-item--min-width: 379px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

.actions {
  cursor: pointer;
}
